@import "./fonts.css";

html,
body {
  font-family: "AristaPro", sans-serif !important;
  height: 100%;
  margin: 0;
  background-color: #ffebd8;
}

#root {
  height: 100%;
  font-family: "AristaPro", sans-serif !important;
}
.title-text-form {
  font-size: 36px;
  font-weight: 600;
}
.title-text-input {
  font-size: 24px;
}
.form{
  display: flex;
  flex-direction: column;
  background-color: #ffdcc4;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
}
.button-group {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.label-input-group {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}
.label-input {
  display: flex;
  justify-content: space-between;
  gap:20px;
  padding: 10px;
  align-items: center;
}