.main-page {
  display: flex;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content{
  width: 100%;
}

.point-menu {
  position: relative;
  display: flex;
  font-size: 24px;
  padding: 20px;
  gap: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #ff944d;
  color: #ff944d;
  justify-content: space-between;
  left: -140px;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.point-menu:hover {
  left: 0px;
  background-color: #ff944d;
  color: white;
}
.point-menu.active {
  left: 0px;
  background-color: #ff944d;
  color: white;
}
.point-menu.active .img-point-menu,
.point-menu:hover .img-point-menu {
  fill: white;
}
.img-point-menu {
  width: 24px;
  height: 24px;
  fill: #ff944d;
}
